<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link href="/css/main.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
  <nav>
            <div class="nav_bar">
                <div class="nav_logo">
                    <img src="/home-assets/WhatsApp Image 2025-03-21 at 17.15.10_5a84c3f9.jpg" >
                    <a href="#">GetSetGo.</a>
                </div>
                <ul class="nav_links" id="nav_links">
                    <li class="link"><a href="#home">Home</a></li>
                    <li class="link"><a href="#about">About Us</a></li>
                    <li class="link"><a href="#discover">Discover</a></li>
                    <li class="link"><a href="#blogs">Blog</a></li>
                    <li class="link"><a href="#journals">Journals</a></li>
                    <li class="link"><a href="#gallery">Gallery</a></li>
                    <li class="link"><a href="#contact">Contact</a></li>
                    <li class="link search" id="link_search">
                        <span><i class="ri-search-line"></i></span>
                    </li>
                </ul>
                <div class="search-container" id="search_bar">
                    <input type="text" placeholder="Search for your travel destinations..." id="search_input">
                    <button id="search_btn"><i class="ri-search-line"></i></button>
                </div>
            </div>
        </nav>
        <div class="pages">
            <ul class="pages_links nav_links">
                <li class="nlink"><a href="#">Hotel</a></li>
                    <li class="nlink"><a href="#">Rent Vehicles</a></li>
                    <li class="nlink"><a href="/ticket-booking">Ticket Booking</a></li>
                    <li class="nlink"><a href="#">Food</a></li>
                    <li class="nlink"><a href="/flight">Flight booking</a></li>
                    <li class="nlink"><a href="/ai-assistant">Assistant</a></li>
                    <li class="nlink"><a href="#">News</a></li>
            </ul>
        </div>
    {{{body}}}
</body>
</html>